body {

}

.clickItem,  {
  color: #0088cc;
}

.clickItem:hover{
  text-decoration: underline;
  cursor: pointer;
}

.col-md-5 {
}

.finishedItem {
  text-decoration:line-through;
  color:#d3d3d3;
}

.toggle-list > div {
  display: none;
}
